.btnLimpar {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
    height: 2rem;
    padding-left: 1rem;
}

.shopppigTable {
    width: 100%;
    margin-bottom: 3rem;
}

.column {
    width: 25%;
}

.totalPrice {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem auto 1rem auto;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
    .mainContainer {
        width: 90%;
    }

    body {
        background-color: #F5F5F5;
    }

}

@media screen and (max-width: 620px) {
    .optionsContainer {
        flex-direction: column;
    }

    .option {
        width: 80%;
    }

    .sectionSubtitle {
        font-size: 1rem;
    }

    tr th:nth-child(2),
    tr td:nth-child(2) {

        display: none;
    }

    .mainContainer {
        width: 90%;
    }

    body {
        background-color: #F5F5F5;
    }

}