body {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: #C3C1C1;
}

.mainContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    background-color: #F5F5F5;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: .625rem;

}

.headerContainer {
    width: 95%;
}

.banner {
    margin-top: 1.5rem;
    width: 100%;
}

.pageTitle {
    font-size: 2.25rem;
    text-align: center;
    margin: .625rem 0;
}

.sectionContainer {
    width: 95%;
    background-color: #F5F5F5;
    border-radius: .625rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
}

.optionsContainer {
    display: flex;
    justify-content: space-around;
}

.sectionTitle {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem auto .5rem auto;
}

.sectionSubtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem auto 1rem auto;
}

.disheName {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .2rem auto;
}

.option {
    width: 25%;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .625rem;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);

    margin: 1rem auto 2rem auto;
    padding: 1rem;
}

.productImageContainer {
    width: 100%;
    height: 80%;
}

.productImage {
    width: 100%;
    height: 100%;
}

.price {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin: .2rem auto;
    color: #105719;
}

.formContainer {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formPersonalData {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    background-color: white;
    height: 2.5rem;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .5rem;
    font-size: 1.2rem;
}

.shoppingCart {
    width: 95%;
}

.btn,
.btnLimpar {
    height: 4rem;
    background-color: #0069D9;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: .5rem;
    margin: 1.5rem 0;
    cursor: pointer;
}

.btn {
    width: 95%;
}

.btnLimpar {
    width: 100%;
}

table,
th,
td {
    border-collapse: collapse;
    border: 1px solid;
    text-align: left;
    height: 2rem;
    padding-left: 1rem;
}

.shopppigTable {
    width: 100%;
    margin-bottom: 3rem;
}

.column {
    width: 25%;
}

.totalPrice {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem auto 1rem auto;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
    .mainContainer {
        width: 90%;
    }

    body {
        background-color: #F5F5F5;
    }

}

@media screen and (max-width: 620px) {
    .optionsContainer {
        flex-direction: column;
    }

    .option {
        width: 80%;
    }

    .sectionSubtitle {
        font-size: 1rem;
    }

    tr th:nth-child(2),
    tr td:nth-child(2) {

        display: none;
    }

    .mainContainer {
        width: 90%;
    }

    body {
        background-color: #F5F5F5;
    }

}